.navrail {
  width: 100vw;
  position: absolute;
  /* padding: 8px; */
}
.navrail_ul {
  display: flex;
  font-size: 1rem;
  position: fixed;
  bottom: 0px;
  margin: 8px;
  list-style-type: none;
  z-index: 999;
  background-color: #b5b5b551;
  width: 97%;
  border-radius: 16px;
  justify-content: space-evenly;
  align-items: center;
  color: var(--md-sys-color-on-surface);
  box-shadow: 0px -0px 8px var(--md-sys-color-shadow);

  backdrop-filter: blur(18px);
}
.navicon {
  filter: invert(80%) sepia(9%) saturate(214%) hue-rotate(0deg) brightness(103%)
    contrast(81%);
}
.toggle {
  margin-top: auto;
}
.nav_li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 54px;
  border-radius: 16px;
  margin: 8px 0;
}

.nav_li:hover {
  background-color: rgba(202, 202, 202, 0.19);
  & .navicon {
    scale: 1.15;
  }
}

.Nav a:link {
  color: var(--md-sys-color-on-surface);
}

.Nav a:visited {
  color: var(--md-sys-color-on-surface);
}

.Nav a:hover {
  color: var(--md-sys-color-on-surface);
}

.Nav a:active {
  color: var(--md-sys-color-on-surface);
}

@media screen and (min-width: 841px) {
  .navrail_ul {
    position: fixed;
    justify-content: flex-start;
    display: flex;
    height: 100%;
    width: 100px;
    list-style-type: none;
    padding: 16px 0.5rem;
    flex-direction: column;
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: none;
    margin: 0;
    justify-content: center;
  }
  .nav_li {
    width: 60px;
    border-radius: 999px;
  }
}
