.container {
  display: flex;
  position: absolute;
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 32px 0 0 32px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.125);
  overflow-y: scroll;
  overflow-x: hidden;

}

.contextContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;

}

.dp {
  object-fit: cover;
  width: 80%;
  height: auto;

  border-radius: 999px;
  filter: grayscale(1);
}

.MusicPlayer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 16px; */
  border-radius: 32px;
  background-color: #ffffff20;
}
.lemon {
  width: 60%;
  object-fit: cover;
  height: auto;
}
@media screen and (max-width: 841px) {
  .container {
    margin-left: 0;
    width: 100%;
    border-radius: 0;
    flex-direction: column;
    background: none;
  }
  .contextContainer{
    width: 100%;
  }
  .contextContainer {
    order: 2;
  }
}
@media screen and (max-width: 600px) {

}
