.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.074);
  //   backdrop-filter: blur(100px);
  position: absolute;
  margin-left: 100px;
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 32px 0 0 32px;
  padding: 8px;
}
.contextContainer {
  width: 30%;
}
